*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Nunito, sans-serif;
}
main{
    padding: 24px;
}
a{
    text-decoration: none;
    color: inherit;
}
.header{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    padding-inline: 24px;
}
.header-content h2 a{
    cursor: pointer;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin-inline: auto;
}
.title{
    font-weight: 800;
}
.countries-container{
    margin-inline: auto;
    max-width: 1200px;
    margin-top: 16px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.country-card{
    display: inline-block;
    width: 250px;
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    overflow: hidden;
    padding-bottom: 24px;
    transition: all 0.2s ease-in-out;
}
.country-card:hover{
    transform: scale(1.025);
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.2);
}
.country-card img{
    width: 100%;
}
.card-text{
    padding-inline: 16px;
}
.card-title{
    font-size: 24px;
    margin-block: 16px;
}
.card-text p{
    margin-block: 8px;
}
.search-filter-container{
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 16px;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
}
.search-filter-container select{
    width: 200px;
}
.search-container{
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.15);
    border-radius: 4px;
    max-width: 350px;
    width: 100%;
    padding-left: 24px;
    color: #999;
    overflow: hidden;
}
.search-container input{
    border: none;
    outline: none;
    padding: 16px;
}
.search-container input::placeholder{
    color: #999;
}
.filter-by-region{
    width: 200px;
    padding: 16px;
    border: none;
    outline: none; 
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.15);
    border-radius: 4px;  
}
@media(max-width:768px){
    .countries-container{
        justify-content: center;
    }
    .title{
        font-size: 16px;
    }
    .header-content p{
        font-size: 12px;
    }
    .search-filter-container{
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
    }
}